.home-card-title{
	.ant-card{
		cursor: pointer;
		transition: all 0.3s;
		&:hover{
			transform: translateY(-6px);
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
		}
	}
	.ant-card-head-title{
		color: #fff;
	}
}